.customers {
    height: 100%;
    margin-bottom: 100px;
}

.h1 {
    /* background: rgb(2, 0, 36); */
    background: linear-gradient(
        235deg,
        rgba(2, 0, 36, 1) 1%,
        rgba(4, 18, 54, 1) 13%,
        rgba(9, 83, 121, 1) 36%,
        rgba(0, 168, 255, 1) 88%
    );
}

img {
    border: 6px solid white;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline;
    padding-right: 6px;
    padding-left: 6px;
}
